<div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <h3>Helpful Resources</h3>
            <ul class="list-group mt-3 ">
                <li class="list-group-item transparent-background">
                    <a href="https://www.eventbrite.com/e/aug-3-wtf-scene-auction-play-party-at-the-nest-tickets-1448423406399?aff=oddtdtcreator" target="_blank">Get Your Ticket</a>
                </li>
                <li class="list-group-item transparent-background">
                    <a href="https://fetlife.com/events/1785605" target="_blank">Fet Event Listing</a>
                </li>
                <li class="list-group-item transparent-background">
                    <a href="https://fetlife.com/events/1785605" target="_blank">Fet Event Listing</a>
                </li>
                <li class="list-group-item transparent-background">
                    <a href="https://www.ncsfreedom.org/" target="_blank">NCSF - National Coalition for Sexual Freedom</a>
                </li>
            </ul>
        </div>
    </div>
</div>