<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

<div class="accordion custom-answer-background-color" id="questionsAccordion">

    <div class="accordion-item shadow-sm mb-3 rounded custom-answer-background-color">
        <h2 class="accordion-header" id="heading1">
            <button class="accordion-button collapsed py-3 px-4 custom-answer-background-color" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                <i class="bi bi-plus me-2 transition-icon"></i> What is the WTF Sene Auction
            </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
            data-bs-parent="#questionsAccordion">
            <div class="accordion-body text-start custom-answer-background-color">
                The WTF Scene Auction is a playful, consensual space where individuals can auction off fun and creative scenes.
                It emphasizes consent, exploration, and community, making it a unique platform for kink enthusiasts.  Once the Auction is done
                the party starts with games, intimate spcaces, and of course plenty of for both auction participants and other guests to scene to there hearts content.

                For a more complete description of the auction, please visit these resources:
                 <li><a href="https://fetlife.com/events/1785605"> Fetlife Event page</a>.</li>
                 <li><a href="https://fetlife.com/PA_Alpha/posts/12369952"> Fetlife FAQ</a>.</li>
                 <li><a href="https://fetlife.com/PA_Alpha/posts/12495385"> Fetlife After Party Page</a>.</li>

                 </li>
            </div>
        </div>
    </div>

    <div class="accordion-item shadow-sm mb-3 rounded custom-answer-background-color" >
        <h2 class="accordion-header" id="heading2">
            <button class="accordion-button collapsed py-3 px-4 custom-answer-background-color" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                <i class="bi bi-plus me-2 transition-icon"></i> I hear there will be games?
            </button>
        
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
            data-bs-parent="#questionsAccordion">
            <div class="accordion-body text-start custom-answer-background-color">
                Yep! Our game maven <a href="https://fetlife.com/Poefreak21"> Poefreak21</a> is hard at work figuring this out.  Think thinks like <b>kinky twister</b> or <b>Spin the bottel</b>></b>
            </div>
        </div>
    </div>

    <div class="accordion-item shadow-sm mb-3 rounded">
        <h2 class="accordion-header" id="heading3">
            <button class="accordion-button collapsed py-3 px-4 custom-answer-background-color" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                <i class="bi bi-plus me-2 transition-icon"></i> I hear the electro-tent will be there?
            </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
            data-bs-parent="#questionsAccordion">
            <div class="accordion-body text-start custom-answer-background-color">
                Yes!  Come try your luck at the bank robber maze and win fantasitc prizes. (ok just prizes)
            </div>
        </div>
    </div>

    

</div>
